<footer>
<div class="container">

<div class="row footer">


<div class="columns six left">
<a href="/"><img class='footer-image' src="/images/discLogo.svg"></a>
<p class="footer text">© 2016 Monster Pony</p>
</div><!-- end 6 -->
<div class="columns six right">
<ul class='social'>
<li><a href="https://www.facebook.com/Discogs/" target="_blank"><span class="icon-facebook3"></span></a></li>
<li><a href="https://twitter.com/discogs?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><span class="icon-twitter3"></span></a></li>
<li><a href="https://github.com/discogs" target="_blank"><span class="icon-github"></span></a></li>
</ul>
<p class="footer-alt">© 2016 Monster Pony</p>
</div><!-- end 6 -->

</div><!-- end row -->
</div> <!-- end container  -->

</footer>
