<footer>
<div class="container">

<div class="row footer">


<div class="columns six left">
<p class="footer text"><a href="http://www.heidipowers.com">Create Good © 2016 Heidi Powers</a></p>
</div><!-- end 6 -->
<div class="columns six right">
<ul class='social'>
<li><a href="mailto:heidi@heidipowers.com?subject=Discogs App" target="_blank"><span class="icon-telegram"></span></a></li>
<li><a href="https://github.com/heidipowers"><span class="icon-github"></span></a></li>
</ul>
<p class="footer-alt">Create Good © 2016 Heidi Powers</p>
</div><!-- end 6 -->

</div><!-- end row -->
</div> <!-- end container  -->

</footer>
