<header>
  <nav>
    <a class="logo" href="/"><img src="/images/discLogo.svg"></a>
    <ul>
      <% if (user) { %>
        <!-- <li><a href="/user/logout">LogOut</a></li> -->
        <li><a href="/record">Deep Dig</a></li>
        <li><a href="/user/dashboard">Profile</a></li>
        <li>
          <form class="special" action="/user/logout?_method=DELETE" method="post">
            <input class="logout" type="submit" value="Log Out">
          </form>
        </li>
        <% } else { %>
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/new">Sign Up</a></li>
        <% } %>
    </ul>
  </nav>
  <div class="outer-modal hide">
    <div class="inner-modal">
      <h3>Thanks for coming! Access your collection anytime you log back in.</h3>
      <button class="leave-modal">X</button>
    </div>
  </div>

</header>
