<form action="/api/dig" method="get">
  <label for="selectChoice">Choose Your Search</label>
  <select name="type" id="selectChoice">
          <option value="artist">Search Artist</option>
          <option value="title">Search Title</option>
  </select>

  <label for="searchInput">Choose your search</label>
  <input name="value" type="text" placeholder="Enter Artist or Title" id="searchInput">

  <button class value='submit'>Deep Dig</button>
  </div>
</form>
