<!DOCTYPE html>
<html>

  <head>
    <% include ./partials/head %>
  </head>

  <body class='home'>
    <% include ./partials/header %>
      <div class='bg'>
        <div class="overlay">


          <div class="row top container">
            <h1>Welcome The Discogs Database</h1>
            <h4>Use the quick search option below to find an album or artist on the fly, or to satisfy the record nerd within, dig deep with our account holder search feature.</h4>
          </div>
          <!-- //end row -->
        </div>
        <!-- overlay -->
      </div>
      <!-- bg -->
      <div class="container home">
        <div class="row home-search top bottom">

          <div class="columns four">
            <select name="type" id="selectChoice">
              <option value="artist">Search Artist</option>
              <option value="title">Search Title</option>
            </select>
          </div>
          <!-- end six -->

          <div class="columns eight">
            <input name="value" type="text" placeholder="Enter Artist or Title Name" id="searchInput">
          </div>
          <!-- end six -->

        </div>
        <!-- end row -->

        <div class="row">

          <div class="column twelve bottom">
            <div class="alert hide">
              <p class='error'>Please Enter a Search Name or Title</p>
            </div>
            <button class="search-button">Quick Search</button>
          </div>
          <!-- end four -->

        </div>
        <!-- end row -->
        <div class='search-list'>
        </div>
        <!-- end search list -->

      </div>
      <!-- end container -->

  </body>

</html>
