<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
<% include ./partials/header %>


<div class="container home">
  <div class="row">
   <h1>Welcome The Discogs Database</h1>
   <h4>Use the quick search option below to find an album or artist on the fly, or login to access a deeper dig.</h4>
  </div><!-- //end row -->
  <div class="row">

      <div class="columns four">
          <select name="type" id="selectChoice">
                  <option value="artist">Search Artist</option>
                  <option value="title">Search Title</option>
          </select>
      </div><!-- end six -->

      <div class="columns eight">
          <input name="value" type="text" placeholder="Enter Artist or Title Name" id="searchInput">
      </div><!-- end six -->

  </div><!-- end row -->

  <div class="row">
    <div class="column twelve">
      <button class="search-button" value='submit'>Quick Search</button>
    </div><!-- end four -->
  </div><!-- end row -->

 <div class='search-list'>
 </div><!-- end search list -->

  </div><!-- end container -->

</body>
</html>
