<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
<h1>You are Indexing</h1>

<ol>
    <%if(albums.length){ %>
      <% albums.forEach( function(album){  %>
      <li>[<%=album.title%>]

      </li>
      <% }) %>
    <% }else{ %>
      <li>No Results found</li>
    <% } %>
  </ol>

</body>
</html>
