<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
<h1>Welcome To Home</h1>



<form action="/api/search" method="get">
<label for="selectChoice">Choose Your Search</label>
<select name="type" id="selectChoice">
        <option value="artist">Search Artist</option>
        <option value="title">Search Title</option>
</select>

<label for="searchInput">Choose your search</label>
<input name="value" type="text" placeholder="Enter Artist or Title" id="searchInput">

<button class="search-button" value='submit'>Search Discogs</button>
</form>



</body>
</html>
