/*GLOBAL*/

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
}

.top {
  padding-top: 3em;
}

.bottom {
  padding-bottom: 2em;
}

image {
  max-width: 100%;
}

nav {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
}

ul {
  list-style-type: none;
}

nav ul {
  display: block;
  padding: 1em 0;
  height: 2em;
  text-align: right;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  padding: 0 2em;
  border-left: 1px solid white;
}

nav li:first-child {
  border-left: none;
}

nav li:last-child {
  padding-right: 0;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
}

.active {
  color: red;
}

nav li a:hover {
  color: white;
}

nav .logo {
  position: absolute;
  left: 0;
  top: .5em;
  z-index: 5;
}

nav img {
  height: 3em;
  width: 3em;
  border: 1px solid white;
  background: white;
  border-radius: 50%;
}

nav form.special {
  margin-bottom: 0;
  max-height: 2em;
  width: auto;
  margin: 0;
}

nav input.logout {
  border: none;
  font-size: 1.2em;
  color: #ccc;
  padding: 0;
  margin: 0;
}

nav input[type="submit"] {
  background-color: transparent;
}

nav input[type="submit"]:hover {
  color: white;
}

header {
  background-color: #000;
  height: 4.5em;
}


/*FORMS*/

.first {
  font-weight: bold;
}

p.first {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.error {
  color: #000;
  background-color: yellow;
  height: 2em;
  text-align: center;
  font-size: 2em;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 2em;
  font-size: 1.5em;
}

input[type="submit"]:focus {
  border: none;
}

input[type="submit"]:hover {
  color: #fff;
}


/*https://css-tricks.com/snippets/css/glowing-blue-input-highlights/*/

input[type=text],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}


/*HOME PAGE*/

.bg {
  /*background-image: url('/images/bg.jpg');*/
  background-size: cover;
  background-color: black;
}

body.home {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526, #414345);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid red;
}

.overlay {
  color: #fff;
}

.overlay h1 {
  text-align: center;
  padding-top: 1em;
}

.home select,
.home input,
.dig-deep select {
  width: 100%;
}

.dig-deep {
  border-bottom: 2px solid red;
}

input:focus {
  border: 1px solid blue;
}

.home button {
  background-color: red;
  color: #fff;
}

.row.results {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.album-cards {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background-color: rgba(209, 213, 214, 0.4);
}


/*LOGIN*/

body.user-form {

  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {

  padding: 3em 0;
  color: white;
  height: 60vh;
  margin: 0 auto;
}

label {
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
}

input[type="submit"] {
  background-color: red;
  display: block;
  margin: 2em auto;
  color: white;
}

input[type="submit"]:hover {
  color: #ccc;
}


/*SEARCH RESULTS*/

.search-list li {
  text-align: left;
  color: #efefef;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  font-size: .9em;
}

li.first-word span {
  font-weight: bold;
  text-transform: uppercase;
}

.image-wrap {
  height: 150px;
  width: auto;
  border: 1px solid grey;
  padding: .5em;
  background: #fff;
  margin-bottom: 1em;
}

img.alt-image {
  max-width: 150px;
  max-height: auto;
}

.album-search-return {

  margin-bottom: 0;
  padding: 10px;
}

.expanded {
  padding: 10px;
}


/*USER*/

.dashboard h1,
.user-fname {
  text-transform: capitalize;
  margin-top: 1em;
}

.fav-wrap {
  text-align: center;
  padding: 1em;
  position: relative;
}

.fav-wrap img:hover {
  opacity: .5;
}

.favorites {
  background-color: #efefef;
  border-bottom: 2px solid #ccc;
}

.remove {
  display: block;
  margin: 0 auto;
  background-color: #1EAEDB;
  color: #fff;
}


/*RESULTS*/

.dig-inner {
  border: 1px solid #000;
  padding: 1em;
}

.result-wrap {
  text-align: center;
  border-right: 1px solid #000;
}

.result-wrap button {
  background-color: #1EAEDB;
  color: #fff;
  margin-bottom: 2em;
}

.result-wrap button:disabled {
  background-color: #ccc;
  border: none;
  cursor: default;
  color: #555;
}

.color {
  height: 2em;
  width: 2em;
  display: inline-block;
}

.one {
  background-color: red;
  color: white;
}

.two {
  background-color: grey;
}

.color.three {
  background-color: black;
}

.color-select {
  border: 1px solid #000;
  opacity: .5;
}


/* MODAL*/

.outer-modal {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.inner-modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inner-modal h3 {
  font-size: 2em;
  padding: 2em;
}

button.leave-modal {
  position: absolute;
  right: 1em;
  bottom: 0;
}


/*VIDEO*/

video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

/*FOOTER*/
.footer-image {
  width: 3em;
  height: 3em;
  opacity: .5;
}

footer {
  background-color: #333;
  margin-top: 5em;
}

footer li {
  margin-bottom: 1rem;
  display: inline-block;
  padding: 0 .5em;
  font-size: 2em;
  color: #999
}

.footer {
  padding-top: 1em;
}

.right {
  text-align: right;
}

p.footer, p.footer-alt {
  font-size: .8em;
  color: #777;
  margin-bottom: 0;
}

footer a:hover {
  color: #ccc;
}

/*ICON FONTS*/
.icon-facebook3:before {
    content: "\e900";
}

.icon-twitter3:before {
    content: "\e901";
}

.icon-github:before {
    content: "\e902";
}



/*SKELETON GRID*/

.three.columns {
  width: 25%;
  margin-left: 0;
}

/*FLEX BOXES*/

.flex-row {
    display: -webkit-flex;
    display: flex;
    min-height: 0;
    min-width: 0;
}

.flex-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 20%;
    flex: 1 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 0 1em 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}


/*QUERIES*/


/* Mobile first queries */


@media (min-width: 400px) {

 footer, footer ul {
  text-align: center;
 }

p.footer{
  display:none;
}

p.footer-alt {
  display: block;
  text-align: center;
}

ul.social {
  margin-bottom: 0;
  padding-top: .5em;
}

}

@media (min-width: 400px) {
  .three.columns {
    width: 100%;
  }
  .result-wrap {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #000;
    margin-bottom: 1em;
  }
  .result-wrap img {
    display: block;
    margin: 0 auto;
  }
  .dig-inner {
    margin-bottom: 2em;
    background-color: #fff;
  }
  .bottom {
    padding-bottom: 1em;
  }
  body.results {
    background-color: #efefef;
  }
  .dig-deep button {
    background-color: red;
    color: #fff;
  }
  nav li {
    padding: 0 1em;
  }
  nav li a {
    font-size: .8em;
  }
  .fav-wrap {
    border-bottom: 2px solid #ccc;
  }
  .inner-modal {
    border-radius: 2px;
  }
  .inner-modal h3 {
    font-size: 1.3em;
    padding: 1em 2em 1em 1em;
    margin-bottom: 1em;
  }
  button.leave-modal {
    position: absolute;
    right: 1em;
    bottom: 0;
    padding: 0 1em;
    background-color: red;
    color: #fff;
  }
  .user form {
    width: 80%;
    margin: 5% auto 0 auto;
  }
  .overlay h1 {
    padding-top: 0;
  }
  .home h4 {
    color: #ccc;
    font-size: 1.2em;
  }
}


/*end mobile*/

@media (min-width: 550px) {
  nav li {
    padding: 0 2em;
  }
  nav li a {
    font-size: 1em;
  }
  div.six div.six.columns {
    width: 100%;
  }
  .home h4 {
    padding: 2em 0;
    color: #fff;
    font-size: 1.5em;
  }


p.footer{
  display:block;
}

p.footer-alt {
  display: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

}


/*min-width 550*/


/* Larger than phablet */

@media (max-width: 550px) {
  .four.columns {
    width: 100%;
  }
  .bg-small {
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  video {
    display: none;
  }
}


/*phone tablet*/

@media (min-width: 790px) {
  .three.columns {
    width: 50%;
  }
  .fav-wrap {
    border-bottom: 0;
  }
  .user form {
    width: 60%;
  }
}


/* Larger than tablet */

@media (min-width: 791px) {
  .home h4 {
    font-size: 2em;
  }
  .overlay h1 {
    margin-top: 1em;
  }
}


/* Larger than desktop */

@media (min-width: 1000px) {
  div.six div.six.columns {
    width: 48%;
  }
  .result-wrap {
    padding: 1em;
    border-right: 1px solid #000;
    border-bottom: 0;
  }
  button.add {
    max-width: 100%;
    padding: 0 1em;
  }
  .inner-modal h3 {
    font-size: 2em;
    padding: 1em;
  }
  button.leave-modal {
    padding: 0 2em;
  }
  .user form {
    width: 40%;
  }
  .home h4 {
    padding: 3em 0;
    color: #fff;
  }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
  .three.columns {
    width: 25%;
  }
}




