<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="container">
<h1>You are User Dashboarding</h1>


  <% if(user) { %>
    <h2> Welcome, <%= user.fname %> <%= user.lname %> </h2>

    <h4>Favorites: </h4>
  <% for(let i =0; i < user.favorites.length; i++){ %>
      <h6><%= user.favorites[i].title %></h6>
    <img src="<%= user.favorites[i].url %>">
    <% } %>



    <!-- REMOVED WITH NAV BAR LINK BUT SEE BUTTON PATH ON ROUTE JS -->

   <!--  <form action="user/logout?_method=DELETE" method="post">
      <input type="submit" value="Log Out">
    </form> -->
  <% } %>

</div><!-- end wrapper -->


</body>
</html>
