<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<h1>You are User Dashboarding</h1>


  <h1>
  <% if(user) { %>
    <h2> Welcome, <%= user.fname %> <%= user.lname %> </h2>

    <h4>Favorites: <%= user.favorites %></h4>


    <!-- REMOVED WITH NAV BAR LINK BUT SEE BUTTON PATH ON ROUTE JS -->

   <!--  <form action="user/logout?_method=DELETE" method="post">
      <input type="submit" value="Log Out">
    </form> -->
  <% } %>



  </h1>

</body>
</html>
