<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/head %>
  </head>

  <body class='user-form'>
    <% include ../partials/header %>
      <div class='login form user'>
        <form action="/user/login" method="post">
          <label for="">Email:</label>
          <input type="text" name="email" required>
          <label for="">Password</label>
          <input type="password" name="password" required>
          <input type="submit" value="Login">
        </form>
      </div>
      <!-- login -->

    <% include ../partials/footer %>
  </body>

</html>
