<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class='container dig'>
<% include ../partials/search %>
</div><!-- container -->
</body>
</html>
